/* css comment test */


/* set margin, padding. and font for whole page */
*{
    margin: auto;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* set body background to light blue and font to black */
body {
    background-color: hsl(0, 0%, 0%);
    color: #000000;
    width: 100vw;
}

/* limited image size */
img {
    width: 200px;
    height: 200px;
}

/* centered body */
.center {
    width: 100%;
    /* allows fluidity of the containers content */
    display: flex;
    flex-direction: column;
    /* centers */
    align-items: center;
    justify-content: center;
}

/* defined class .green-bg */
.green-bg {
    background-color: #4df74a;
}

/* defined class .red-bg */
.red-bg {
    background-color: #ff1212;
}

/* defined class .lilac-bg */
.lilac-bg {
    background-color: #c2a8ff;
}

/* defined class .button-bg */
.button-bg {
    background-color: #ffae00;
}

/* defined class .title-bg */
.title-bg {
    background-color: #00b386;
}

#white-text {
    color: #ffffff;
}
.container {
    
}


/* defined id #cat */
#cat {
    background-color: #e1ff00;
    color: #000000;
}

#animated {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
position: absolute;
    animation: move 2s linear infinite;
    animation-direction: alternate;
}


@keyframes move {
    from {left: 200px; top: 720px;}
    to {left: 300px; top: 720px;}
    
}

nav ul {
    list-style-type: none;
    display: flex;
    background-color: #b3b3b3;
    border-style: solid;
    border-width: 2px;

}

#space {
    margin-bottom: 14em;
}

nav {
    position: fixed;
    width: 100vw;

}

#placeholder {
    margin-bottom: 5em;
}